 #category {position:absolute;top:100px;left:10px;border-radius: 5px; border:1px solid #909090;box-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);background: #fff;overflow: hidden;z-index: 2;}
	#category li {float:left;list-style: none;width:50px;px;border-right:1px solid #acacac;padding:6px 0;text-align: center; cursor: pointer;}
	#category li.on {background: #eee;}
	#category li:hover {background: #ffe6e6;border-left:1px solid #acacac;margin-left: -1px;}
	#category li:last-child{margin-right:0;border-right:0;}
	#category li span {display: block;margin:0 auto 3px;width:27px;height: 28px;}
	#category li .category_bg {background:url(https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/places_category.png) no-repeat; margin-top: 5px;}
	#category li .ys {background-position: -10px 0;}
	#category li .ddm {background-position: -10px -36px;}
	#category li .jg {background-position: -10px -72px;}
	#category li .sdg {background-position: -10px -108px;}
	#category li .epg {background-position: -10px -144px;}
	#category li .nog {background-position: -10px -180px;}
	#category li.on .category_bg {background-position-x:-46px;}